<div [formGroup]="form">
    <label [attr.for]="question.key">{{ question.label }}</label>
      @switch (question.controlType) {
        @case ('TextboxQuestion') {
          <input [formControlName]="question.key" [id]="question.key" [type]="question.type" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        } @case ('DropdownQuestion') {
          <select [id]="question.key" [formControlName]="question.key" class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary" style="appearance: auto">
            @for (opt of question.options; track opt) {
              <option [value]="opt.key">{{ opt.value }}</option>
            }
          </select>
        } @case ('CheckboxQuestion') {
          <div>
            <p-checkbox [formControlName]="question.key" [id]="question.key" [binary]="true" inputId="binary"/>
          </div>
        } @case ('TextareaQuestion') {
          <div>
            <textarea [formControlName]="question.key" [id]="question.key" rows="3" cols="100" pInputTextarea></textarea>
          </div>
        } @case ('InputswitchQuestion') {
          <div>
            <p-inputSwitch formControlName="checked" [formControlName]="question.key" [id]="question.key"/> 
          </div>
        }
        @case ('CalendarQuestion') {
          <div>
              <p-calendar formControlName="date" [formControlName]="question.key" [id]="question.key" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"/>
          </div>
        }@case ('PasswordQuestion') {
          <div>
            <p-password formControlName="value" [feedback]="false" [formControlName]="question.key" [id]="question.key" [toggleMask]="true"/>
          </div>
        }@case ('InputnumberQuestion') {
          <div>
            <p-inputNumber variant="filled" [formControlName]="question.key" [id]="question.key"/>
          </div>
        }@case ('PricesQuestion') {
          <div>
            <p-inputNumber [showButtons]="true" inputId="stacked" mode="currency" currency="USD" [formControlName]="question.key" [id]="question.key"/> 
          </div>
        }
      }
    @if (!isValid) {<div class="errorMessage" style="color:rgb(255, 0, 0)">{{ question.label }} is required</div>}
</div>